<div class="countries-list">
    <div *ngFor="let country of countries" class="row mb-3">
        <div class="countries-list__box p-3 col-md-4 offset-md-4 bg-light" (click)="onClick(country)">
            <div class="row align-items-center">
                <div class="col-3">
                    <img [src]="country.flags.svg" />
                </div>
                <div class="col-9 text-center">
                    {{ country.name.common }}
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #header>
    <button class="btn btn-light" (click)="onBack()">Cofnij</button>
</ng-template>