<app-header class="fixed-top"></app-header>
<div class="container countries-main">
    <router-outlet></router-outlet>
</div>
<app-footer class="fixed-bottom"></app-footer>

<ng-template #footer>
    <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#exampleModal">
        O mnie
    </button>
</ng-template>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">O mnie</h5>
            </div>
            <div class="modal-body">
                <div>Krzysztof Kasperczak</div>
                <div><a href="mailto: kasperczak.praca@gmail.com">kasperczak.praca@gmail.com</a></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Zamknij</button>
            </div>
        </div>
    </div>
</div>